/* Universal Styling */
:root {
  --dark-cyan : hsl(179, 81%, 29%);
  --dark-blue : hsl(215, 19%, 25%);
  --pale-orange : hsl(25, 94%, 86%);
  --light-cream : hsl(43, 78%, 98%);
  --grey : hsl(215, 5%, 54%);
}

* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
}

body {
  min-height: 100vh;
  background-color: var(--light-cream);
}

h1, h2, h3, h4 {
  font-family: 'Fraunces', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-description {
  font-size: 1rem;
  line-height: 26px;
}

/* Header Section */
.header {
  margin-bottom: 15rem;
  padding: 1rem 5rem 0;
}

/* Header Navigation Section */
.header__navigation, .header__navigation-content {
  display: flex;
}

.header__navigation {
  margin-bottom: 1.5rem;
  justify-content: space-between;
}

.header__navigation-content {
  align-items: center;
}

.header__navigation-item, .footer__navigation-item {
  margin-left: 2.1rem;
  line-height: 15px;
  list-style-type: none;

}

.header__navigation-link, .footer__navigation-link {
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--grey);
  transition-property: color;
  transition-duration: 200ms;
}

.header__navigation-link:hover {
  color: black;
}

/* Header Jumbotron Section */
.header__jumbotron {
  padding: 7.3rem;
  padding-left: 5.3rem;
  color: var(--light-cream);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 16px;
}

.header__jumbotron_bg-coffee {
  background-image: url("assets/home/desktop/image-hero-coffeepress.jpg");
}

.header__jumbotron-content {
  width: 40%;
}

.header__heading {
  margin-bottom: 2rem;
  font-size: 4.5rem;
}

.header__description {
  margin-bottom: 3rem;
  padding-right: 4rem;
  opacity: 0.7;
}

.btn {
  width: 13.5rem;
  height: 3.5rem;
  font-family: 'Fraunces', serif;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  transition-property: background;
  transition-duration: 200ms;
}

.btn:hover {
  background-color: #66D2CF;
}

.header__btn, .cta__btn {
  font-size: 1.2rem;
  color: white;
  background-color: var(--dark-cyan);
}

.main__container {
  padding: 0 5rem;
}

/* Features Section */
.features__container {
  margin-bottom: 10rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  position: relative;
}

.features__title {
  position: absolute;
  top: -32%;
  left: 20%;
  font-size: 9.375rem;
  background: -webkit-linear-gradient(var(--grey)10%, var(--light-cream)90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
}

.features__card {
  text-align: center;
}

.features__image-container {
  margin-bottom: 2rem;
}

.features__card-image {
  max-width: 80%;
}

.features__card-title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.features__card-description, .why-us__card-description {
  padding: 0 3rem;
}

/* Company Excellence Section */
.why-us__container {
  height: 577px;
  margin-bottom: 25rem;
  position: relative;
  color: var(--light-cream);
  background-color: #2C343E;
  border-radius: 16px;
}

.why-us__content {
  width: 33.75rem;
  position: relative;
  left: 30%;
  top: 15%;
  text-align: center;
}

.why-us__title {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}

.why-us__card-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  position: absolute;
  left: 5%;
  top: 60%;
  text-align: center;
}

.why-us__card {
  padding: 3rem;
  background-color: var(--dark-cyan);
  border-radius: 10px;
}

.why-us__image-container {
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.why-us__card-title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 32px;
}

/* CTA Section */
.cta__container {
  margin-bottom: 10rem;
}

.cta__card-container {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cta__title {
   color:var(--grey);
   margin-bottom: 5rem;
}

.circle {
  width: 2rem;
  height: 2rem;
  position: relative;
  top: -1rem;
  background-color: white;
  border: 3px solid var(--dark-cyan);
  border-radius: 100%;
}

.cta__card_border-top {
  border-color: var(--pale-orange);
  border-top-style: solid;
}

.cta__step {
  margin: 3rem 0;
  font-size: 4.5rem;
  line-height: 4.5rem;
  color: var(--pale-orange);
}

.cta__card-content {
  width: 15.6rem;
}

.cta__card-title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  line-height: 36px;
}

/* Footer Section */
.footer__container {
  margin-bottom: 5rem;
  padding: 0 5rem;
}

.footer__logo {
  margin-right: 5rem;
}

.footer__navigation-container {
  height: 7.5rem;
  padding: 0 5.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2C343E;
}

.footer__navigation-content, .footer__page-navigation, .footer__socmed-navigation {
  display: flex;
  align-items: center;
}

.footer__navigation-link:hover {
  color: white;
}

.footer__socmed-logo path{
  transition-property: fill;
  transition-duration: 200ms;
}

.footer__socmed-logo path:hover {
  fill: var(--pale-orange);
}

@media only screen and (max-width:1300px) {
  .text-description {
    font-size: 0.9375rem;
    line-height: 25px;
  }

  .header {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .header__jumbotron {
    padding: 5rem 2rem;
  }

  .header__jumbotron-content {
    width: 68%;
  }

  .header__heading {
    font-size: 3rem;
    line-height: 3rem;
  }

  .header__jumbotron_bg-coffee {
    background-image: url("assets/home/tablet/image-hero-coffeepress.jpg");
  }

  /* Features Section */
  .features__container {
    grid-template-columns: 1fr;
  }

  .features__card, .features__card-content {
    display: flex;
  }

  .features__card-content {
    flex-direction: column;
    text-align: left;
  }

  .features__title {
    font-size: 6rem;
    top: -70px;
  }

  .features__card-description {
    padding: 0;
  }


}
