/* Universal Styling */
:root {
  --dark-cyan : hsl(179, 81%, 29%);
  --dark-blue : hsl(215, 19%, 25%);
  --pale-orange : hsl(25, 94%, 86%);
  --light-cream : hsl(43, 78%, 98%);
  --grey : hsl(215, 5%, 54%);
}

* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
}

body {
  min-width: 375px;
  min-height: 100vh;
  background-color: var(--light-cream);
}

h1, h2, h3, h4 {
  font-family: 'Fraunces', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.mobile {
  display: none;
}

.text-description {
  font-size: 1rem;
  line-height: 26px;
}

.text-description_justify {
  text-align: justify;
}

/* Header Section */
.header {
  margin-bottom: 15rem;
  padding: 1rem 5rem 0;
}

/* Header Navigation Section */
.header__navigation, .header__navigation-content {
  display: flex;
}

.header__navigation {
  margin-bottom: 1.5rem;
  justify-content: space-between;
}

.header__navigation-content {
  align-items: center;
}

.header__navigation-item, .footer__navigation-item {
  margin-left: 2.1rem;
  line-height: 15px;
  list-style-type: none;
}

.header__navigation-link, .footer__navigation-link {
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--grey);
  transition-property: color;
  transition-duration: 200ms;
}

.header__navigation-link:hover {
  color: black;
}

/* Header Jumbotron Section */
.header__jumbotron {
  padding: 7.3rem;
  color: var(--light-cream);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 16px;
}

.header__jumbotron_bg-coffee {
  background-image: url("assets/home/desktop/image-hero-coffeepress.jpg");
}

.header__jumbotron_bg-coffee-cup {
  background-image: url("assets/about/desktop/image-hero-whitecup.jpg");
}

.header__jumbotron-content {
  width: clamp(260px, 50%, 450px);
}

.header__heading {
  margin-bottom: 2rem;
  font-size: clamp(1.875rem, 0.9507rem + 3.9437vw, 4.5rem);
}

.header__description {
  margin-bottom: 3rem;
  opacity: 0.7;
}

.btn {
  width: 13.5rem;
  height: 3.5rem;
  font-family: 'Fraunces', serif;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  transition-property: background;
  transition-duration: 200ms;
}

.btn:hover {
  background-color: #66D2CF;
}

.header__btn, .cta__btn {
  font-size: 1.2rem;
  color: white;
  background-color: var(--dark-cyan);
}

.main__container {
  padding: 0 5rem;
}

/* Features Section */
.features__container {
  margin-bottom: 10rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  position: relative;
}

.features__title {
  position: absolute;
  width: 100%;
  top: -120px;
  font-size: clamp(2rem, -0.5968rem + 11.0798vw, 9.375rem);
  text-align: center;
  background: -webkit-linear-gradient(var(--grey)10%, var(--light-cream)90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
}

.features__card {
  text-align: center;
}

.features__image-container {
  margin-bottom: 2rem;
}

.features__card-image {
  max-width: 80%;
}

.features__card-title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.features__card-description, .why-us__card-description {
  padding: 0 3rem;
}

/* Company Excellence Section */
.why-us__container {
  height: 577px;
  margin-bottom: 25rem;
  position: relative;
  color: var(--light-cream);
  background-color: #2C343E;
  border-radius: 16px;
}

.why-us__content {
  width: clamp(260px, 90%, 450px);
  margin: 0 auto;
  padding-top: 3rem;
  text-align: center;
}

.why-us__title, .commitment__title, .quality__title {
  margin-bottom: 1.5rem;
  font-size: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
}

.why-us__card-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  position: absolute;
  left: 5%;
  top: 60%;
  text-align: center;
}

.why-us__card {
  padding: 3rem;
  background-color: var(--dark-cyan);
  border-radius: 10px;
}

.why-us__image-container {
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.why-us__card-title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 32px;
}

/* CTA Section */
.cta__container, .headquarters__container {
  margin-bottom: 10rem;
}

.cta__card-container, .headquarters__card-container {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cta__title, .headquarters__title {
   color:var(--grey);
   margin-bottom: 5rem;
}

.circle {
  width: 2rem;
  height: 2rem;
  position: relative;
  top: -1rem;
  background-color: white;
  border: 3px solid var(--dark-cyan);
  border-radius: 100%;
}

.cta__card_border-top {
  border-color: var(--pale-orange);
  border-top-style: solid;
}

.cta__step {
  margin: 3rem 0;
  font-size: 4.5rem;
  line-height: 4.5rem;
  color: var(--pale-orange);
}

.cta__card-content {
  width: 15.6rem;
}

.cta__card-title, .headquarters__card-title {
  margin-bottom: 1.5rem;
  font-size: clamp(2rem, 2.0880rem + -0.3756vw, 1.75rem);
  line-height: 36px;
}

/* Company Commitment Section */
.commitment__container {
  margin-top: -5rem;
  margin-bottom: 15rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.commitment__image-container {
  justify-self: center;
}

.commitment__image {
  width: 90%;
  border-radius: 10px;
  object-fit: cover;
}

.commitment__content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Coffee Quality Section */
.quality__container {
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  color: var(--light-cream);
  background-color: #2C343E;
  border-radius: 10px;
}

.quality__image-container {
  transform: translate(-50px, -100px);
}

.quality__image {
  max-width: 90%;
  border-radius: 10px;
}

.quality__content {
  padding-top: 7rem;
  width: 40%;
}

/* Headquarters Section */
.headquarters__logo {
  margin-bottom: 1rem;
}

/* Footer Section */
.footer__container {
  margin-bottom: 5rem;
  padding: 0 5rem;
}

.footer__logo {
  margin-right: 5rem;
}

.footer__navigation-container {
  padding: 5.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2C343E;
}

.footer__navigation-content, .footer__page-navigation, .footer__socmed-navigation {
  display: flex;
  align-items: center;
}

.footer__navigation-link:hover {
  color: white;
}

.footer__socmed-logo path{
  transition-property: fill;
  transition-duration: 200ms;
}

.footer__socmed-logo path:hover {
  fill: var(--pale-orange);
}

@media only screen and (max-width:1300px) {
  /* Header Section */
  .header, .main__container, .footer__container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .header__jumbotron {
    padding: 5rem 2rem;
  }

  .header__jumbotron_bg-coffee {
    background-image: url("assets/home/tablet/image-hero-coffeepress.jpg");
  }

  .header__jumbotron_bg-coffee-cup {
    background-image: url("assets/about/tablet/image-hero-whitecup.jpg");
  }

  /* Features Section */
  .features__container, .why-us__card-container {
    grid-template-columns: 1fr;
  }

  .features__card, .features__card-content, .why-us__card {
    display: flex;
  }

  .features__card-content, .why-us__card-content {
    flex-direction: column;
    text-align: left;
  }

  .features__card-description, .why-us__card-description {
    padding: 0;
  }

  /* Why-us Section */
  .why-us__card-container {
    top: 40%;
  }

  .why-us__image-container {
    height: 100%;
    margin-right: 4rem;
  }

  .cta__card-content {
    width: 80%;
  }

  /* Commitment Section */
  .commitment__content, .quality__content {
    width: 100%;
  }

  /* Quality Section */
  .quality__container {
    flex-wrap: wrap;
  }

  .quality__image-container {
    transform: translate(18px, -100px);
  }

  .quality__content {
    margin-top: -80px;
    padding: 2rem;
    text-align: center;
  }

  /* Footer Section */
  .footer__navigation-container, .footer__navigation-content {
    flex-direction: column;
    justify-content: space-around;
  }

  .footer__page-navigation {
    width: 100%;
    margin: 1.5rem 0 3rem;
    justify-content: space-between;
  }

  .footer__logo, .footer__navigation-item {
    margin: 0;
  }

  .footer__socmed-navigation {
    width: clamp(120px, 25%, 200px);
    justify-content: space-between;
  }
}

@media only screen and (max-width: 610px) {
  /* Universal Styling */
  .desktop, .circle {
    display: none;
  }

  .mobile {
    display: block;
  }

  .btn {
    width: 100%;
  }

  /* Header Section */
  .header__jumbotron_bg-coffee-cup {
    background-image: url("assets/about/mobile/image-hero-whitecup.jpg");
  }

  .header, .main__container, .footer__container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .header__jumbotron-content,
  .features__card-content,
  .why-us__card-content, .cta__card-content,
  .cta__title, .commitment__content, .headquarters__card,
  .headquarters__title  {
    text-align: center;
  }

  .header, .features__container {
    margin-bottom: 7rem;
  }

  .header__jumbotron-content, .cta__card-content, .commitment__image {
    width: 100%;
  }

  .header__jumbotron_bg-coffee {
    background-image: url("assets/home/mobile/image-hero-coffeepress.jpg");
  }

  /* Features Section */
  .features__card {
    margin: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .features__title {
    top: -50px;
  }

  /* Company Excellence Section   */
  .why-us__container {
    margin-bottom: 60rem;
  }

  .why-us__card {
    flex-direction: column;
  }

  .why-us__card-container {
    top: 60%;
  }

  .why-us__image-container {
    margin-right: 0;
    margin-bottom: 3rem;
  }

  /* CTA Section */
  .cta__card-container, .headquarters__card-container {
    grid-template-columns: 1fr;
  }

  .cta__title, .commitment__image {
    margin-bottom: 1rem;
  }

  .cta__card_border-top {
    border-style: none;
  }

  .commitment__container {
    margin-top: 3rem;
  }

  /* Headquarters Section */
  .headquarters__card-container {
    grid-row-gap: 5rem;
  }

  /* Footer Section */
  .footer__navigation-container {
    padding: 2rem;
  }

  .footer__page-navigation {
    flex-direction: column;
  }
}
