/* Universal Styling */
:root {
  --dark-cyan : hsl(179, 81%, 29%);
  --dark-blue : hsl(215, 19%, 25%);
  --pale-orange : hsl(25, 94%, 86%);
  --light-cream : hsl(43, 78%, 98%);
  --grey : hsl(215, 5%, 54%);
}

* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
}

body {
  min-height: 100vh;
  background-color: var(--light-cream);
}

h1, h2, h3, h4 {
  font-family: 'Fraunces', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Header Section */
.header {
  margin-bottom: 15rem;
  padding: 1rem 5rem 0;
}

/* Header Navigation Section */
.header__navigation, .header__navigation-content {
  display: flex;
}

.header__navigation {
  margin-bottom: 1.5rem;
  justify-content: space-between;
}

.header__navigation-content {
  align-items: center;
}

.header__navigation-item {
  margin-left: 2.1rem;
  line-height: 15px;
  list-style-type: none;
}

.header__navigation-link {
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--grey);
}

/* Header Jumbotron Section */
.header__jumbotron {
  padding: 7.3rem;
  padding-left: 5.3rem;
  color: var(--light-cream);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 16px;
}

.header__jumbotron_bg-coffee {
  background-image: url("assets/home/desktop/image-hero-coffeepress.jpg");
}

.header__jumbotron-content {
  width: 40%;
}

.header__heading {
  margin-bottom: 2rem;
  font-size: 4.5rem;
}

.header__description {
  margin-bottom: 3rem;
  padding-right: 4rem;
  line-height: 26px;
  opacity: 0.7;
}

.btn {
  width: 13.5rem;
  height: 3.5rem;
  font-family: 'Fraunces', serif;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}

.header__btn {
  font-size: 1.2rem;
  color: white;
  background-color: var(--dark-cyan);
}

/* Features Section */
.features__container {
  margin-bottom: 10rem;
  padding: 0 5rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  position: relative;
}

.features__title {
  position: absolute;
  top: -32%;
  left: 20%;
  font-size: 9.375rem;
  background: -webkit-linear-gradient(var(--grey)10%, var(--light-cream)90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
}

.features__card {
  text-align: center;
}

.features__image-container {
  margin-bottom: 2rem;
}

.features__card-image {
  max-width: 80%;
}

.features__card-title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.features__card-description {
  padding: 0 3rem;
  line-height: 26px;
}
